!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head{:profile => "http://gmpg.org/xfn/11"}
    %link{:href => Caboodle::Site.url_base, :rel => "index", :title => Caboodle::Site.title}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "index,follow", :name => "robots"}/
    %meta{:content => "Caboodle", :name => "generator"}/
    
    = meta
    
    %title= title
    
    - Caboodle::Stylesheets.each do |css|
      %link{:rel => "stylesheet", :href => css, :type => "text/css"}    
   
    - Caboodle::Javascripts.each do |js|
      %script{:charset => "utf-8", :src => js, :type => "text/javascript"}
      
    %script{:charset => "utf-8", :src => "/js/application.js", :type => "text/javascript"}
    
    - Caboodle::RSS.each do |rss|
      %link{:href => rss, :rel => "alternate", :type => "application/rss+xml"}/
    
    = head
        
  %body.caboodle
    = before_page
    
    #page.hfeed
      - if Caboodle::Errors.size > 0
        %section#errors
          - Caboodle::Errors.each do |err|
            %h2
              = err.title
            %p.reason
              = err.reason
      = before_header
      %header#site-header
        = above_header
        - unless Caboodle::Site.logo_url.to_s.blank?
          #logo
            %a{:href => "/", :rel => "home", :title => Caboodle::Site.title }
              %img{:src=>Caboodle::Site.logo_url, :width=>"64", :height=>"64"}
        - unless Caboodle::Site.title.blank?
          #site-title
            %h1
              %a{:href => "/", :rel => "home", :title => Caboodle::Site.title }
                = Caboodle::Site.title
        - unless Caboodle::Site.description.to_s.blank?
          #site-description
            %h2= Caboodle::Site.description
        #access
          .skip-link
            %a{:href => "#content", :title => "Skip navigation to the content"} Skip to content
        
        - if Caboodle::MenuItems.size > 0
          = before_nav
          %nav#menu
            = above_nav
            %ul#menu_items
              - Caboodle::MenuItems.each do |p|
                - link_class = "menu_item"
                - link_class << " active" if p[:kit] == self.class
                %li
                  = above_nav_item
                  %a{:href=>p[:link], :class=>link_class, :rel=>"me"}
                    = above_nav_item_title
                    = p[:display]
                    = below_nav_item_title
                  = below_nav_item
            = below_nav
          = after_nav
        = below_header
      = after_header
      = before_main
      %section#main
        - if @title
          %header#page_title
            %h1
              = @title
        = before_social
        %section#social
          = above_social
          = social
          = below_social
        = after_social 
        = before_content
        %section#content
          = above_content
          = yield
          = below_content
        = after_content
        - if self.credit_link
          = before_credit
          %section#credit
            = above_credit
            = self.credit_link
            = below_credit
          = after_credit
      = after_main
      = before_footer
      %footer#footer
        = above_footer
        - if Caboodle::Site.has_footer
          %p
            \&copy; 
            = Caboodle::Site.author
            - if Caboodle::Site.has_caboodle_link
              |
              Powered by 
              %a{:href=>"http://github.com/stefl/caboodle"}
                Caboodle
        = below_footer     
      = after_footer
    = after_page
  = after_body