!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head{:profile => "http://gmpg.org/xfn/11"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "index,follow", :name => "robots"}/
    
    = meta
    
    %title= title
    %link{:href => "/stylesheets/screen.css", :rel => "stylesheet", :type => "text/css"}/
    
    - Caboodle::Stylesheets.each do |css|
      %link{:rel => "stylesheet", :rel => css, :type => "text/css"}    
    
    %link{:href => Caboodle::Site.url_base, :rel => "index", :title => Caboodle::Site.title}/
   
    %script{:charset => "utf-8", :src => "http://ajax.googleapis.com/ajax/libs/jquery/#{Caboodle::Site.jquery_version || "1.4.2"}/jquery.min.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/js/application.js", :type => "text/javascript"}

    - Caboodle::Javascripts.each do |js|
      %script{:charset => "utf-8", :src => js, :type => "text/javascript"}

    = head
    
  %body.caboodle
    = before_page
    #page.hfeed
      = before_header
      %header#site-header
        = above_header
        - if Caboodle::Site.logo_url
          #logo
            %a{:href => "/", :rel => "home", :title => Caboodle::Site.title }
              %img{:src=>Caboodle::Site.logo_url, :width=>"64", :height=>"64"}
        - if Caboodle::Site.title
          #site-title
            %h1
              %a{:href => "/", :rel => "home", :title => Caboodle::Site.title }
                = Caboodle::Site.title
        - if description
          #site-description
            %h2= Caboodle::Site.description
        #access
          .skip-link
            %a{:href => "#content", :title => "Skip navigation to the content"} Skip to content
        
        - if Caboodle::MenuItems.size > 0
          = before_nav
          %nav
            %ul
              %li
                %a{:href=>"/"}
                  = Caboodle::Site.home_title
              - Caboodle::MenuItems.each do |p|
                %li
                  %a{:href=>p[:link]}
                    = p[:display]
            
        = below_header
      = after_header
      = before_main
      %section#main
        - if @title
          %header#page_title
            %h1
              = @title
        = before_content
        %section#content
          = above_content
          = yield
          = below_content
        = after_content
      = after_main
      = before_footer
      %footer#footer
        = above_footer
        - if Caboodle::Site.has_footer
          %p
            \&copy; 
            = Caboodle::Site.author
            - if Caboodle::Site.has_caboodle_link
              |
              Powered by 
              %a{:href=>"http://github.com/steflewandowski/caboodle"}
                Caboodle
        = below_footer     
      = after_footer
    = after_page
  = after_body